body {
    background-image: linear-gradient(to bottom, rgb(60, 17, 73), #212150) 
}

body, header, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: space-between;
    background-color: rgb(31, 29, 29);
    padding: 35px;
    border: 5px solid lightgrey;
    border-radius: 15px;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.topnav a {
    margin-left: 13.4%;
    font-weight: bold;
    text-decoration: line;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    color: #8c52ff;
}

.topnav {
    overflow: hidden;
    background-color: transparent
}

.topnav a:hover {
    padding: 15px;
    transition: 1.0s;
    background-color: #000000;
    color: rgb(155, 35, 155);
}

.logo {
    text-align: center;
}

#titulo2 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: linear-gradient(to top, rgb(60, 17, 73), #212150)
}
#titulo {
    margin-left: 100px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
    letter-spacing: 5px;
}
.decoracao {
    margin-left: 85px;
}
.desc1 {
    margin-left: 100px;
    color: white;
    font: bold;
    font-size: 25px;

}

#portifolios {
    padding-bottom: 20px;
    padding-top:10px ;
    height: 980px;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    color: #5e17eb;
    background-color: #000000;
    margin-top: 500px;
}

.coluna-esquerda {
    border-image-width: 1px;
    border-radius: 15px;
}

.coluna-meio {
    background-image: url(https://www.google.com/search?client=opera-gx&q=gemini&sourceid=opera&ie=UTF-8&oe=UTF-8);
    margin-top: -625px;
    border-image-width: 1px;
    border-radius: 15px;
}

.imagem:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}
.imagem1 {
    transition: transform 0.3s ease;
    background-image: url(v);
    margin-left: 1250px;
    margin-top: 200px;
}
.imagem3 {
    position: inherit;
    margin-right: 1250px;
    margin-top: -624px;

}

a img {
    cursor: pointer;
}

img {
    border-radius: 15px;
}

.container {
    display: inline-block;
}

.quemsomos {
    padding-top: 20px;
    margin-top: -21px;
    height: 100vh;
    width: 100vw;
    background-color: linear-gradient(#000000, #1d0e3d);
}

#quemsomos{
    padding-bottom: 150px;
    padding-top: 20px;
    font-family: sans-serif;
    color: #5e17eb ;
    font-size: 40px;
    text-align: center;
}

.container2 {
    display:inline-block;
}

.foto1 {
    font-family: sans-serif;
    font: bold;
    color: #fafb63;
    padding-top: 200px;
    border-image-width: 1px;
}

.foto2 {
    font-family: sans-serif;
    font: bold;
    color: #fafb63;
    margin-top: -432px;
    margin-left: 1200px
}

.foto3 {
    font-family: sans-serif;
    font: bold;
    color: #fafb63;
    margin-top: -440px;
    margin-right: 1200px
}

footer {
    justify-content: space-between;
    background-color: rgb(31, 29, 29);
    padding: 35px;
    border: 5px solid lightgrey;
    border-radius: 15px;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.logo2 {
    text-align: center;
    color: white;
    font: bold;
    font-size: 25px;
    line-height: 0px;
}

.container3 {
    display: flex;
}

.coluna-esquerda3 {
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -165px;
    font:bold;
}

.coluna-direita3{
    margin-left: 1300px;
    color: white;
    font-size: 20px;
    font: bold;
    margin-top: -165px;

}